.searchResult {
    display: flex;
    position: relative;
    margin: 20px;
    padding: 20px;
    border-bottom: 1px solid lightgray;
    cursor: pointer;
}

.searchResult:hover {
    opacity: 0.8;
}

.searchResult > img {
    height: 200px;
    width: 350px;
    min-width: 350px;
    border-radius: 10px;
    overflow: hidden;
}

.searchResult_info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 20px;
}

.searchResult_heart {
    position: absolute;
    top: 20px;
    right: 40px;
    cursor: pointer;
    border-radius: 50%;
}

.searchResult_heart:hover {
    color: #ff7779;
    transition: 100ms;
}

.searchResult_infoTop {

}

.searchResult_infoTop > h3 {
    font-weight: 300;
    margin-top: 10px;
}

.searchResult_infoTop > p {
    margin-top: 10px;
    font-size: 13px;
    color: gray;
}

.searchResult_infoBottom {
    display: flex;
    justify-content: space-between;
}

.searchResult_star {
    color: red;
}

.searchResult_stars {
    display: flex;
    align-items: center;
}

.searchResults_price > p {
    text-align: right;
}

.searchResults_price {
    position: absolute;
    bottom: 20px;
    right: 30px;
}

@media only screen and (max-width: 600px) {
    .searchResult {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    .searchResult > img {
        height: 280px;
        width: 420px;
    }
    .searchResult_info {
        display: flex;
        flex-direction: row;
    }
    .searchResult_heart {
        top: 30px;
        right: 30px;
        color: #f7f7f7;
        width: 30px !important;
        height: 30px !important;
    }
    .searchResult_infoTop {
        width: 350px;
        padding-left: 10px;
        padding-right: 10px;
        justify-content: center;
    }
    .searchResults_price {
        padding-right: 20px;
        padding-bottom: 90px;
        font-size: small;
    }
    .searchResult_infoBottom {
        padding-top: 100px;
        padding-right: 30px;
    }
    .searchResult_infoTop > h3 {
        font-size: large;
        margin-top: 30px;
    }
}