.searchPage {
    display: flex;
    flex-direction: row;
}

.searchPage_left {
    height: 100vh;
    overflow-y: scroll;
    width: 100%;
}

.searchPage_right {
    width: 100%;
}

.searchPage_info {
    padding: 20px;
    padding-left: 45px;
}

.searchPage_info > p {
    margin-bottom: 10px;
    font-size: 14px;
}

.searchPage_info > h1 {
    margin-bottom: 30px;
}

.searchPage_info > button {
    border-radius: 30px;
    text-transform: inherit;
    margin: 5px;
}

@media only screen and (max-width: 600px) {
    .searchPage {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    .searchPage_info {
        padding-left: 40px;
    }
}